body {
    text-align: center;
}

#duration {
    border: none;
    font-size: 100px;
    text-align: center;
    outline: none;
}

#start {
    border: none;
    background: none;
    font-size: 100px;
    outline: none;
}

#pause {
    border: none;
    background: none;
    font-size: 100px;
    outline: none;
}